/node_modules/
/public
!css/
!js/angular/angular.js
!js/angular-animate/angular-animate.js
!js/angular-route/angular-route.js
!js/jquery/dist/jquery.js
!js/app.js
!js/config.js
!js/controllers.js
!js/main.js
!js/stories.js


/semantic
!semantic/css/themes/default/
!semantic/semantic.min.css
!semantic/js/semantic.js


/dist