/node_modules/
/public
!public/css/
!public/js/angular/angular.js
!public/js/angular-animate/angular-animate.js
!public/js/angular-route/angular-route.js
!public/js/jquery/dist/jquery.js
!public/js/app.js
!public/js/config.js
!public/js/controllers.js
!public/js/main.js
!public/js/stories.js
!public/js/directives.js
!public/public/jsp/
!public/cssp/


/public/semantic
!public/semantic/css/themes/default/
!public/semantic/semantic.min.css
!public/semantic/js/semantic.js


/dist